/.project
/.settings
/target
/transformListAndJavaScript/.classpath
/transformListAndJavaScript/.project
/transformListAndJavaScript/.settings
/transformListAndJavaScript/target
/transformMetadatasAndDownload/.project
/transformMetadatasAndDownload/.settings
/transformMetadatasAndDownload/.classpath
/transformMetadatasAndDownload/target
