/.project
/.settings
/target
/copy/.classpath
/copy/.project
/copy/.settings
/copy/target
/transformList/.classpath
/transformList/.project
/transformList/.settings
/transformList/target
/transformMetadata/.project
/transformMetadata/.settings
/transformMetadata/.classpath
/transformMetadata/target
