/.project
/.settings
/target
/copyFiles/.classpath
/copyFiles/.project
/copyFiles/.settings
/copyFiles/target
/transformListAndJavaScript/.classpath
/transformListAndJavaScript/.project
/transformListAndJavaScript/.settings
/transformListAndJavaScript/target
/transformMetadatasAndDownload/.project
/transformMetadatasAndDownload/.settings
/transformMetadatasAndDownload/.classpath
/transformMetadatasAndDownload/target
